<html>
    <head> 
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
            <% include partials/nav.ejs %>          
        <h1>Contact Success Page...!</h1>
        <p>you contacted to <%=data.who%> from department <%=data.department%> , we will contact you on
            email id <%=data.email%></p>
    </body>
    </html>