<html>
    <head>   
            <link rel="stylesheet" href="/styles/index.css">    
    </head>
    <body>
            <% include partials/nav.ejs %>
        <h1>Welcome to node.js world...!</h1>
        <p>this is highly responsive.</p>
    </body>
</html>