body{background-color: azure; font-family: sans-serif}
h1{color:crimson;text-align: center;font-size: xx-large}
p{color:darkgoldenrod; text-align: center; font-size: x-large}
ul li{ color:blueviolet;text-align: center}